<footer class="bg-black text-white py-4 absolute bottom-0 w-full">
  <div class="container mx-auto flex justify-between">
    <div class="flex space-x-4 mx-4">
      <a href="#" class="hover:underline">Preguntas frecuentes</a>
      <a href="#" class="hover:underline">Inversores</a>
      <a href="#" class="hover:underline">Formas de ver</a>
      <a href="#" class="hover:underline">Información corporativa</a>
      <a href="#" class="hover:underline">Originales de Netflix</a>
    </div>
    <div class="flex space-x-4 mx-4">
      <a href="#" class="hover:underline">Centro de ayuda</a>
      <a href="#" class="hover:underline">Empleo</a>
      <a href="#" class="hover:underline">Términos de uso</a>
      <a href="#" class="hover:underline">Contáctanos</a>
    </div>
  </div>
</footer>
